schema/ui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.agileapes.com/ui"
           xmlns="http://www.agileapes.com/ui"
           elementFormDefault="qualified">

    <xs:element name="icon">
        <xs:complexType>
            <xs:attribute name="glyph" use="required" type="glyph"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="dropdown" type="dropdown"/>

    <xs:element name="button-group">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="1" maxOccurs="unbounded">
                    <xs:element name="dropdown" type="dropdown"/>
                    <xs:element name="group-button">
                        <xs:complexType>
                            <xs:attribute name="label" use="optional" type="xs:string"/>
                            <xs:attribute name="glyph" use="optional" type="glyph"/>
                            <xs:attribute name="position" use="optional" type="horizontalPosition"/>
                            <xs:attribute name="kind" use="optional" default="none" type="buttonKind"/>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="orientation" use="optional" default="horizontal" type="orientation"/>
            <xs:attribute name="size" use="optional" default="normal" type="size"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="input-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group-prepend" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
                <xs:any/>
                <xs:element name="group-append" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="container">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="section">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="title" type="xs:string" use="required"/>
                        <xs:attribute name="active" type="true" default="false" use="optional"/>
                        <xs:attribute name="glyph" type="glyph" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="type" use="optional" default="tab" type="containerType"/>
            <xs:attribute name="stacked" use="optional" default="false" type="true"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="breadcrumbs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="breadcrumb">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="href" type="xs:anyURI" use="required"/>
                        <xs:attribute name="glyph" type="glyph" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pagination">
        <xs:complexType>
            <xs:attribute name="first" type="xs:nonNegativeInteger" use="required"/>
            <xs:attribute name="last" type="xs:nonNegativeInteger" use="required"/>
            <xs:attribute name="current" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="show" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="navigation" type="true" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="form-container">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="form-input">
                        <xs:complexType>
                            <xs:attribute name="type" type="xs:string" use="optional" default="text"/>
                            <xs:attribute name="id" type="xs:string" use="required"/>
                            <xs:attribute name="placeholder" type="xs:string" use="optional" default=""/>
                            <xs:attribute name="validation" type="xs:string" use="optional" default=""/>
                            <xs:attribute name="state" type="inputState" use="optional" default=""/>
                            <xs:attribute name="feedback" type="glyph" use="optional" default=""/>
                            <xs:attribute name="label" type="xs:string" use="optional" default=""/>
                            <xs:attribute name="value" type="xs:string" use="optional" default=""/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="form-select">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="form-select-item">
                                    <xs:complexType mixed="true">
                                        <xs:attribute name="value" type="xs:string"/>
                                        <xs:attribute name="caption" type="xs:string"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="type" type="selectType" use="required"/>
                            <xs:attribute name="id" type="xs:string" use="required"/>
                            <xs:attribute name="selection" type="selectMode" use="optional" default="single"/>
                            <xs:attribute name="validation" type="xs:string" use="optional" default=""/>
                            <xs:attribute name="state" type="inputState" use="optional" default=""/>
                            <xs:attribute name="feedback" type="glyph" use="optional" default=""/>
                            <xs:attribute name="label" type="xs:string" use="optional" default=""/>
                            <xs:attribute name="value" type="xs:string" use="optional" default=""/>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="form-action" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="orientation" use="optional" default="vertical" type="orientation" />
            <xs:attribute name="label-size" use="optional" default="3" type="xs:nonNegativeInteger" />
        </xs:complexType>
    </xs:element>

    <xs:element name="image">
        <xs:complexType>
            <xs:attribute name="src" use="required" type="xs:anyURI" />
            <xs:attribute name="alt" use="required" type="xs:string" />
            <xs:attribute name="border" use="optional" type="imageBorder" />
            <xs:attribute name="responsive" use="optional" type="true" />
        </xs:complexType>
    </xs:element>

    <xs:element name="button">
        <xs:complexType>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
            <xs:attribute name="action" type="xs:string" use="optional"/>
            <xs:attribute name="type" type="buttonKind" use="optional" default="normal"/>
            <xs:attribute name="size" type="size" use="optional" default="normal"/>
            <xs:attribute name="block" type="true" use="optional" default="false"/>
            <xs:attribute name="active" type="true" use="optional" default="false"/>
            <xs:attribute name="disabled" type="true" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="dropdown">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="dropdown-divider"/>
                <xs:element name="dropdown-item">
                    <xs:complexType>
                        <xs:attribute name="href" use="required" type="xs:string"/>
                        <xs:attribute name="glyph" use="optional" type="glyph"/>
                        <xs:attribute name="disabled" use="optional" type="true"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dropdown-header">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="glyph" use="optional" type="glyph"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="xs:string"/>
        <xs:attribute name="position" use="optional" type="horizontalPosition"/>
        <xs:attribute name="glyph" use="optional" type="glyph"/>
        <xs:attribute name="label" use="required" type="xs:string"/>
        <xs:attribute name="kind" use="optional" default="none" type="buttonKind"/>
        <xs:attribute name="caret" use="optional" default="false" type="true"/>
        <xs:attribute name="size" use="optional" default="normal" type="size"/>
    </xs:complexType>

    <xs:simpleType name="horizontalPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="before"/>
            <xs:enumeration value="after"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="glyph">
        <xs:restriction base="xs:string">
            <xs:enumeration value="asterisk"/>
            <xs:enumeration value="plus"/>
            <xs:enumeration value="euro"/>
            <xs:enumeration value="minus"/>
            <xs:enumeration value="cloud"/>
            <xs:enumeration value="envelope"/>
            <xs:enumeration value="pencil"/>
            <xs:enumeration value="glass"/>
            <xs:enumeration value="music"/>
            <xs:enumeration value="search"/>
            <xs:enumeration value="heart"/>
            <xs:enumeration value="star"/>
            <xs:enumeration value="star-empty"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="film"/>
            <xs:enumeration value="th-large"/>
            <xs:enumeration value="th"/>
            <xs:enumeration value="th-list"/>
            <xs:enumeration value="ok"/>
            <xs:enumeration value="remove"/>
            <xs:enumeration value="zoom-in"/>
            <xs:enumeration value="zoom-out"/>
            <xs:enumeration value="off"/>
            <xs:enumeration value="signal"/>
            <xs:enumeration value="cog"/>
            <xs:enumeration value="trash"/>
            <xs:enumeration value="home"/>
            <xs:enumeration value="file"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="road"/>
            <xs:enumeration value="download-alt"/>
            <xs:enumeration value="download"/>
            <xs:enumeration value="upload"/>
            <xs:enumeration value="inbox"/>
            <xs:enumeration value="play-circle"/>
            <xs:enumeration value="repeat"/>
            <xs:enumeration value="refresh"/>
            <xs:enumeration value="list-alt"/>
            <xs:enumeration value="lock"/>
            <xs:enumeration value="flag"/>
            <xs:enumeration value="headphones"/>
            <xs:enumeration value="volume-off"/>
            <xs:enumeration value="volume-down"/>
            <xs:enumeration value="volume-up"/>
            <xs:enumeration value="qrcode"/>
            <xs:enumeration value="barcode"/>
            <xs:enumeration value="tag"/>
            <xs:enumeration value="tags"/>
            <xs:enumeration value="book"/>
            <xs:enumeration value="bookmark"/>
            <xs:enumeration value="print"/>
            <xs:enumeration value="camera"/>
            <xs:enumeration value="font"/>
            <xs:enumeration value="bold"/>
            <xs:enumeration value="italic"/>
            <xs:enumeration value="text-height"/>
            <xs:enumeration value="text-width"/>
            <xs:enumeration value="align-left"/>
            <xs:enumeration value="align-center"/>
            <xs:enumeration value="align-right"/>
            <xs:enumeration value="align-justify"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="indent-left"/>
            <xs:enumeration value="indent-right"/>
            <xs:enumeration value="facetime-video"/>
            <xs:enumeration value="picture"/>
            <xs:enumeration value="map-marker"/>
            <xs:enumeration value="adjust"/>
            <xs:enumeration value="tint"/>
            <xs:enumeration value="edit"/>
            <xs:enumeration value="share"/>
            <xs:enumeration value="check"/>
            <xs:enumeration value="move"/>
            <xs:enumeration value="step-backward"/>
            <xs:enumeration value="fast-backward"/>
            <xs:enumeration value="backward"/>
            <xs:enumeration value="play"/>
            <xs:enumeration value="pause"/>
            <xs:enumeration value="stop"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="fast-forward"/>
            <xs:enumeration value="step-forward"/>
            <xs:enumeration value="eject"/>
            <xs:enumeration value="chevron-left"/>
            <xs:enumeration value="chevron-right"/>
            <xs:enumeration value="plus-sign"/>
            <xs:enumeration value="minus-sign"/>
            <xs:enumeration value="remove-sign"/>
            <xs:enumeration value="ok-sign"/>
            <xs:enumeration value="question-sign"/>
            <xs:enumeration value="info-sign"/>
            <xs:enumeration value="screenshot"/>
            <xs:enumeration value="remove-circle"/>
            <xs:enumeration value="ok-circle"/>
            <xs:enumeration value="ban-circle"/>
            <xs:enumeration value="arrow-left"/>
            <xs:enumeration value="arrow-right"/>
            <xs:enumeration value="arrow-up"/>
            <xs:enumeration value="arrow-down"/>
            <xs:enumeration value="share-alt"/>
            <xs:enumeration value="resize-full"/>
            <xs:enumeration value="resize-small"/>
            <xs:enumeration value="exclamation-sign"/>
            <xs:enumeration value="gift"/>
            <xs:enumeration value="leaf"/>
            <xs:enumeration value="fire"/>
            <xs:enumeration value="eye-open"/>
            <xs:enumeration value="eye-close"/>
            <xs:enumeration value="warning-sign"/>
            <xs:enumeration value="plane"/>
            <xs:enumeration value="calendar"/>
            <xs:enumeration value="random"/>
            <xs:enumeration value="comment"/>
            <xs:enumeration value="magnet"/>
            <xs:enumeration value="chevron-up"/>
            <xs:enumeration value="chevron-down"/>
            <xs:enumeration value="retweet"/>
            <xs:enumeration value="shopping-cart"/>
            <xs:enumeration value="folder-close"/>
            <xs:enumeration value="folder-open"/>
            <xs:enumeration value="resize-vertical"/>
            <xs:enumeration value="resize-horizontal"/>
            <xs:enumeration value="hdd"/>
            <xs:enumeration value="bullhorn"/>
            <xs:enumeration value="bell"/>
            <xs:enumeration value="certificate"/>
            <xs:enumeration value="thumbs-up"/>
            <xs:enumeration value="thumbs-down"/>
            <xs:enumeration value="hand-right"/>
            <xs:enumeration value="hand-left"/>
            <xs:enumeration value="hand-up"/>
            <xs:enumeration value="hand-down"/>
            <xs:enumeration value="circle-arrow-right"/>
            <xs:enumeration value="circle-arrow-left"/>
            <xs:enumeration value="circle-arrow-up"/>
            <xs:enumeration value="circle-arrow-down"/>
            <xs:enumeration value="globe"/>
            <xs:enumeration value="wrench"/>
            <xs:enumeration value="tasks"/>
            <xs:enumeration value="filter"/>
            <xs:enumeration value="briefcase"/>
            <xs:enumeration value="fullscreen"/>
            <xs:enumeration value="dashboard"/>
            <xs:enumeration value="paperclip"/>
            <xs:enumeration value="heart-empty"/>
            <xs:enumeration value="link"/>
            <xs:enumeration value="phone"/>
            <xs:enumeration value="pushpin"/>
            <xs:enumeration value="usd"/>
            <xs:enumeration value="gbp"/>
            <xs:enumeration value="sort"/>
            <xs:enumeration value="sort-by-alphabet"/>
            <xs:enumeration value="sort-by-alphabet-alt"/>
            <xs:enumeration value="sort-by-order"/>
            <xs:enumeration value="sort-by-order-alt"/>
            <xs:enumeration value="sort-by-attributes"/>
            <xs:enumeration value="sort-by-attributes-alt"/>
            <xs:enumeration value="unchecked"/>
            <xs:enumeration value="expand"/>
            <xs:enumeration value="collapse-down"/>
            <xs:enumeration value="collapse-up"/>
            <xs:enumeration value="log-in"/>
            <xs:enumeration value="flash"/>
            <xs:enumeration value="log-out"/>
            <xs:enumeration value="new-window"/>
            <xs:enumeration value="record"/>
            <xs:enumeration value="save"/>
            <xs:enumeration value="open"/>
            <xs:enumeration value="saved"/>
            <xs:enumeration value="import"/>
            <xs:enumeration value="export"/>
            <xs:enumeration value="send"/>
            <xs:enumeration value="floppy-disk"/>
            <xs:enumeration value="floppy-saved"/>
            <xs:enumeration value="floppy-remove"/>
            <xs:enumeration value="floppy-save"/>
            <xs:enumeration value="floppy-open"/>
            <xs:enumeration value="credit-card"/>
            <xs:enumeration value="transfer"/>
            <xs:enumeration value="cutlery"/>
            <xs:enumeration value="header"/>
            <xs:enumeration value="compressed"/>
            <xs:enumeration value="earphone"/>
            <xs:enumeration value="phone-alt"/>
            <xs:enumeration value="tower"/>
            <xs:enumeration value="stats"/>
            <xs:enumeration value="sd-video"/>
            <xs:enumeration value="hd-video"/>
            <xs:enumeration value="subtitles"/>
            <xs:enumeration value="sound-stereo"/>
            <xs:enumeration value="sound-dolby"/>
            <xs:enumeration value="sound-5-1"/>
            <xs:enumeration value="sound-6-1"/>
            <xs:enumeration value="sound-7-1"/>
            <xs:enumeration value="copyright-mark"/>
            <xs:enumeration value="registration-mark"/>
            <xs:enumeration value="cloud-download"/>
            <xs:enumeration value="cloud-upload"/>
            <xs:enumeration value="tree-conifer"/>
            <xs:enumeration value="tree-deciduous"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="true">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="orientation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
            <xs:enumeration value="inline"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="size">
        <xs:restriction base="xs:string">
            <xs:enumeration value="huge"/>
            <xs:enumeration value="large"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="small"/>
            <xs:enumeration value="tiny"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="buttonKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="primary"/>
            <xs:enumeration value="success"/>
            <xs:enumeration value="information"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="danger"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="containerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tab"/>
            <xs:enumeration value="pill"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="inputState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="valid"/>
            <xs:enumeration value="invalid"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="notice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="selectType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="combo"/>
            <xs:enumeration value="checkList"/>
            <xs:enumeration value="itemList"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="selectMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="single"/>
            <xs:enumeration value="multiple"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="imageBorder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="round"/>
            <xs:enumeration value="circle"/>
            <xs:enumeration value="thumbnail"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>